@model ReferralCode

<form method="post" class="row">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Amount Paid</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="_ReferralCode" class="form-control border-0 shadow">
                    <label asp-for="_ReferralCode" class="ms-2"></label>
                    <span asp-validation-for="_ReferralCode" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="MakeClientBusiness" class="btn btn-outline-primary border form-control">
                            Make Client Business
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="MakeClientAdmin" class="btn btn-outline-primary border form-control">
                            Make Client Admin
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="DeleteClient" class="btn btn-outline-primary border form-control">
                            Delete Client
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="GetClient" class="btn btn-outline-primary border form-control">
                            Get Client
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="GetAllClients" class="btn btn-outline-primary border form-control">
                            Get All Client
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" name="actionType" value="DownloadGetAll" class="btn btn-outline-primary border form-control">
                            Download Client Data
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
